@font-face {
    font-family: 'displayitalic';
    src: url("/fonts/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: 'displaysans';
    src: url("/fonts/Noto_Serif_Display/NotoSerifDisplay-Italic-VariableFont_wdth\,wght.ttf");
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    90% {
        display: block;
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 10;
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(400%);
        opacity: 0;
    }
    90% {
        display: block;
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 10;
    }
}
@keyframes transToSolid {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: 'displaysans';
}
h1, h2, h3 {
    font-family: 'displayitalic';
    font-weight: bold;
}
h2 {
    border-top: 2px black solid;
}
main {
    position: absolute;
    margin: 0px;
    overflow-y: scroll;
    top: 0px;
    width: 100%;
}
.jumbotron {
    background: rgb(251,108,1);
    background: linear-gradient(90deg, rgba(251,108,1,1) 39%, rgba(0,87,132,1) 56%);
    height: 100vh;
}
.jumbotron p {
    color: #F9F6EE;
    filter: drop-shadow(0px 0px 5px rgb(0 0 0));
    animation: 2s ease-out 0s 1 slideInFromBottom;    
}
.jumbotron h1 {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    color: #F9F6EE;
    filter: drop-shadow(0px 0px 5px rgb(0 0 0));
}
.heading-container {
    margin: auto;
    text-align: center;
}
#portfolioImage {
    display: relative;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px 20px 5px;
    animation: 3s ease-out 0s 1 transToSolid;
}
h2 {
    padding: 70px;
}

.work-section {
    text-align: center;
}

.skills-container {
    text-align: center;
}
.card {
    border-style: none;
    text-align: center;
    
}
svg {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0));
    margin: auto;
}
img {
    margin: auto;
}
svg:hover {
    filter: drop-shadow(0px 0px 5px rgb(0 0 0));
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

